/* Start of Footer Section */

/* Footer Container */
.footer-section .footer {
    background-color: var(--Dblack);
    color: var(--Ltext);
    padding: 70px 0 30px;
}

/* Brand Section */
.footer-brand .brand-logo img {
    width: 210px;
    height: 90px;
}

.footer-brand .brand-description {
    margin: 30px 0;
    padding-right: 25px;
    font-size: 15px;
    cursor: pointer;
}

/* Payment Methods */
.footer-section .payment-methods img {
    height: 25px;
    margin-right: 8px;
    margin-bottom: 8px;
    opacity: 0.8;
}

/* Footer Headings */
.footer-section .footer-heading {
    color: var(--Wtext);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* Footer Lists */
.footer-section .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section .footer-list li {
    margin-bottom: 10px;
}

.footer-section .footer-list a {
    font-size: 15px;
    color: var(--Ltext);
    text-decoration: none;
}

.footer-section .footer-list a:hover {
    text-decoration: underline;
}

/* Newsletter Section */
.footer-section .newsletter-description {
    font-size: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}

/* Social Icons */
.footer-section .social-icons i {
    font-size: 17px;
    margin-right: 6px;
    cursor: pointer;
}

/* Footer Bottom Section */
.footer-section .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.405);
    margin-top: 50px;
    padding-top: 30px;
    color: var(--Ltext);
    font-size: 15px;
    cursor: pointer;
}

.footer-section .love-icon {
    color: var(--Dmain);
    display: inline-block;
    margin: 0 4px;
}

/* End of Footer Section */