/* Start of Payment Section */

/* Image Styles */
.payment-section .image img {
    width: 100%;
    height: 400px;
}

/* Form Container Styles */
.payment-section .form-container {
    padding: 30px;
    background-color: var(--Dgray);
}

/* Heading Styles */
.payment-section .heading h5 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--Btext);
    letter-spacing: 1px;
}

/* Summary Detail Styles */
.payment-section .summary-detail p {
    font-size: 16px;
    color: var(--Gtext);
    font-weight: 600;
    padding-bottom: 10px;
}

.payment-section .summary-detail p strong {
    font-size: 16px;
    font-weight: 600;
    color: var(--Btext);
}

/* Payment Button Styles */
.payment-section .payment-form .razorpay-payment-button {
    width: 100%;
    margin-top: 25px;
    height: 45px;
    font-size: 12px;
    color: var(--Wtext);
    background: var(--Btext);
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 7px;
    letter-spacing: 1px;
}

/* End of Payment Section */